.brand-logo {
    width: 3rem;
    height: 3rem;
}

@font-face {
    font-family: "Another Danger" ;
    src: url(police/Another\ Danger\ -\ Demo.otf)
}

@font-face {
    font-family: "Milestone";
    src: url(police/MilestoneFreeVersion-Script.otf);
}

.me {
    font-family: "Another Danger" ;
    font-size: 1rem;
}

.boat {
    font-family: "Milestone";
    font-size: 1.5rem;
    color: white;
}

.boat:hover {
    color: gainsboro;
}

.nav-item {
    font-family: "Milestone";
    font-size: 1rem;
}

.box {
    border: 2px solid #353232;
    border-radius: 5px;
    background-color: blanchedalmond;
    margin: 10px;
    padding: 5px;
}

h2 {
    text-align: center;
    text-decoration-line: underline;
    font-family: "Milestone";
}

.mag {
    border: 2px solid #353232;
    border-radius: 5px;
    background-color:rgb(233, 109, 109);
    margin: 10px;
    padding: 5px;
}

.magArticle {
    border: 2px solid #353232;
    border-radius: 5px;
    background-color:rgb(224, 174, 127);
    margin: 10px;
    padding: 5px;
}

.artmag {
    text-align: left;
    text-decoration-line: underline;
    font-family: "Milestone";
    font-size: 1.4rem;
}

.presimg {
    height: auto;
    max-width: 100%;
}

