.brand-logo {
    width: 3rem;
    height: 3rem;
}

@font-face {
    font-family: "Another Danger" ;
    src: url(police/Another\ Danger\ -\ Demo.otf)
}

@font-face {
    font-family: "Milestone";
    src: url(police/MilestoneFreeVersion-Script.otf);
}

.me {
    font-family: "Another Danger" ;
    font-size: 1rem;
}

.boat {
    font-family: "Milestone";
    font-size: 1.5rem;
    color: white;
}

.boat:hover {
    color: gainsboro;
}

.nav-item {
    font-family: "Milestone";
    font-size: 1rem;
}

.box {
    border: 2px solid #353232;
    border-radius: 5px;
    background-color: rgb(247, 225, 192);
    margin: 10px;
    padding: 5px;
}

h2 {
    text-align: center;
    text-decoration-line: underline;
    font-family: "Milestone";
}

.mag {
    border: 2px solid #353232;
    border-radius: 5px;
    background-color:rgb(247, 176, 83);
    margin: 10px;
    padding: 5px;
}

.magArticle {
    border: 2px solid #353232;
    border-radius: 5px;
    background-color:rgb(247, 225, 192);
    margin: 10px;
    padding: 5px;
}

.artmag {
    text-align: left;
    text-decoration-line: underline;
    font-family: "Milestone";
    font-size: 1.4rem;
}

.presimg {
    height: auto;
    max-width: 100%;
}

/* Event */


.gridBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 1fr;
    margin: 5px;
    grid-gap: 10px;
}

.boxChild1 {
    border: 2px solid #353232;
    border-radius: 5px;
    background-color: rgb(247, 225, 192);
    margin: 10px;
    padding: 5px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 7;
    text-decoration-line: underline;
    font-family: "Milestone";
    font-size: 1.7rem;
}

.boxEvent {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 1fr;
    border: 2px solid #353232;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-decoration-line: none;
}

.imgBox {
    margin: 4px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
}

.imgEvent {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.textEvent {
    display: inline-block;
    border: 2px solid #353232;
    border-radius: 5px;
    text-align: left;
    text-decoration-line: none;
    margin: 10px;
    padding: 5px;
    font-family: "arial";
    font-size: 0.7rem;
    grid-column-start: 2;
    grid-column-end: 3;
}

.textEvent p {
    margin-bottom: 0rem;
}

.b1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.b2 {
    grid-column-start: 4;
    grid-column-end: 7;  
}

.titreEvent {
    font-family: fantasy;
    font-size: 1.2rem;
    font-style: italic;
    text-decoration-line: underline;
    text-align: center;
}

.sujetEvent {
    font-size: 0.7rem;
}

@media screen and (max-width: 970px) and (min-width: 768px) {
    .gridBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 70px 1fr 1fr 1fr 1fr;
        margin: 5px;
        grid-gap: 0px;
    }
    .b1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .b2 {
        grid-column-start: 1;
        grid-column-end: 4;  
    }
}

@media screen and (max-width: 768px) and (min-width: 10px) {
    .gridBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 70px 1fr 1fr 1fr 1fr;
        margin: 5px;
        grid-gap: 0px;
    }
    .b1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .b2 {
        grid-column-start: 1;
        grid-column-end: 4;  
    }
    .boxEvent {
        display: block;
        width: 100%;
    }
    .imgBox {
        width: 100%;
        margin: 0;
        padding: 6px;
    }
    .textEvent {
       width: 100%;
       margin: 0;
       padding: 0px;
       border: 2px solid #ffffff;
    }
}
