.block-stop {
  display: inline-block;
  background-color: rgb(160, 158, 158);
  border-radius: 20px;
  border: 4px solid #353232;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 500px;
  margin-top: 10%;
  position: relative;
  left: 35%;
}

.btn {
  display: block;
  background-color: rgb(182, 235, 236);
  border-radius: 5px;
  border: 4px solid #353232;
  text-align: center;
  font-size: 10px;
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin-left: 58%;
  margin-top: 3px;
  position: static;
  top: 50%;
}

.btn a {
  text-decoration: none;
  color: black;
}

.btn:hover {
  background-color: rgb(160, 158, 158);
}

.trashout {
  margin-left: 28%;
}